NODE_ENV=local
PORT=XXXX
APP_ORIGIN=http://localhost:XXXX
API_ORIGIN=http://localhost:XXXX
ALLOWED_CORS_ORIGIN=http://localhost:XXXX
TZ=Asia/Seoul

# Database (Postgres)
DATABASE_TYPE=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=app
DATABASE_LOGGING=false

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

CRON_TVL=*/1 * * * * *

