openapi: 3.1.0
info:
  title: CoinMarketCap API
  description: |
    CoinMarketCap의 가상자산 데이터 API입니다. 이 스펙은 현재 가격, 메타데이터, 거래소 정보 등 주요 정보를 조회하기 위한 엔드포인트를 포함합니다.
  version: 1.0.0
servers:
  - url: https://pro-api.coinmarketcap.com/
    description: CoinMarketCap 프로덕션 서버
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-CMC_PRO_API_KEY
security:
  - ApiKeyAuth: []

paths:
  /v1/cryptocurrency/listings/latest:
    get:
      operationId: getLatestListings
      summary: 최신 가상자산 목록 조회
      description: 최신 상장된 가상자산들의 목록과 가격 정보를 조회합니다.
      parameters:
        - name: start
          in: query
          required: false
          schema:
            type: integer
          description: 시작 위치 (기본값: 1)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: 결과 수 제한 (기본값: 100, 최대: 5000)
        - name: convert
          in: query
          required: false
          schema:
            type: string
          description: 환율 기준 화폐 (예: USD, KRW)
      responses:
        '200':
          description: 성공적으로 가상자산 목록을 조회했습니다.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                  data:
                    type: array
                    items:
                      type: object

  /v1/cryptocurrency/quotes/latest:
    get:
      operationId: getLatestQuotes
      summary: 실시간 가상자산 시세 조회
      description: 지정된 가상자산들의 실시간 가격 정보를 조회합니다.
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
          description: 쉼표로 구분된 가상자산 심볼 목록 (예: BTC,ETH)
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: 쉼표로 구분된 CoinMarketCap 고유 ID 목록
        - name: convert
          in: query
          required: false
          schema:
            type: string
          description: 환율 기준 화폐 (예: USD, KRW)
      responses:
        '200':
          description: 성공적으로 시세 정보를 조회했습니다.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                  data:
                    type: object
                    
  /v1/cryptocurrency/info:
    get:
      operationId: getCryptoInfo
      summary: 가상자산 메타데이터 조회
      description: 이름, 심볼, 로고, 기술 문서 등 가상자산의 상세 정보를 조회합니다.
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
          description: 쉼표로 구분된 심볼 목록
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: 쉼표로 구분된 ID 목록
      responses:
        '200':
          description: 메타데이터 정보를 성공적으로 조회했습니다.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                  data:
                    type: object

  /v1/exchange/listings/latest:
    get:
      operationId: getLatestExchangeListings
      summary: 최신 거래소 목록 조회
      description: CoinMarketCap에 등록된 거래소들의 목록을 조회합니다.
      parameters:
        - name: start
          in: query
          required: false
          schema:
            type: integer
          description: 시작 위치 (기본값: 1)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: 결과 수 제한
      responses:
        '200':
          description: 거래소 목록을 성공적으로 조회했습니다.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                  data:
                    type: array
                    items:
                      type: object