openapi: 3.0.3
info:
  title: CoinMarketCap API
  description: |
    CoinMarketCap virtual asset data API. This specification includes endpoints for retrieving key information such as current prices, metadata, and exchange information.
  version: 1.0.0
servers:
  - url: https://pro-api.coinmarketcap.com
    description: CoinMarketCap production server
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-CMC_PRO_API_KEY
security:
  - ApiKeyAuth: []

paths:
  /v1/cryptocurrency/listings/latest:
    get:
      operationId: getLatestListings
      summary: Get latest cryptocurrency listings
      description: Retrieves the latest cryptocurrency listings with pricing information.
      parameters:
        - name: start
          in: query
          required: false
          schema:
            type: integer
          description: Starting position (default: 1)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Result limit (default: 100, max: 5000)
        - name: convert
          in: query
          required: false
          schema:
            type: string
          description: Quote currency (e.g., USD, KRW)
      responses:
        '200':
          description: Successfully retrieved cryptocurrency listings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                  data:
                    type: array
                    items:
                      type: object

  /v1/cryptocurrency/quotes/latest:
    get:
      operationId: getLatestQuotes
      summary: Get latest cryptocurrency quotes
      description: Retrieves real-time price information for the specified cryptocurrencies.
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of symbols (e.g., BTC,ETH)
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of CoinMarketCap IDs
        - name: convert
          in: query
          required: false
          schema:
            type: string
          description: Quote currency (e.g., USD, KRW)
      responses:
        '200':
          description: Successfully retrieved quote information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                  data:
                    type: object

  /v1/cryptocurrency/info:
    get:
      operationId: getCryptoInfo
      summary: Get cryptocurrency metadata
      description: Retrieves detailed information such as name, symbol, logo, and technical documentation.
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of symbols
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of IDs
      responses:
        '200':
          description: Successfully retrieved metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                  data:
                    type: object

  /v1/exchange/listings/latest:
    get:
      operationId: getLatestExchangeListings
      summary: Get latest exchange listings
      description: Retrieves a list of exchanges registered on CoinMarketCap.
      parameters:
        - name: start
          in: query
          required: false
          schema:
            type: integer
          description: Starting position (default: 1)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Result limit
      responses:
        '200':
          description: Successfully retrieved exchange listings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                  data:
                    type: array
                    items:
                      type: object